@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-body : #31363F;
    --font-base : "Monstserrat";
    --color-heading : #EEEEEE;
    --custom-color1 : #222831;
}

body {
    background-color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: var(--color-heading);
}

p{
    color: var(--color-heading);
}

.navbar{
    background-color: var(--color-body);
}

.socials{
    color: var(--color-heading);
    text-decoration: none;
}

.fa-6x{
    color: var(--color-heading);
}

.hero-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    padding: 12px 20px;
    font-weight: 700;
    background-color: var(--color-heading);
}

.btn:hover{
    background-color: #222831;
    color: var(--color-heading);
}

.btn1{
    padding: 12px 20px;
    font-weight: 700;
    background-color: var(--color-heading);
}

.btn1:hover{
    background-color: var(--color-body);
    color: var(--color-heading);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-base{
    background-color: var(--custom-color1);
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-heading);
}

.navbar .nav-link.active{
    color: var(--color-heading);
}


